.custom-navbar {
    background-color: #333; /* Dark background color */
  }
  
  .search-form {
    display: flex;
    align-items: center;
  }
  
  .search-icon {
    color: #fff; /* Search icon color */
    margin-right: 10px;
    margin-left: 900px;
  }
  
  .search-input {
    width: 200px;
  }
  
  .cart-icon {
    color: #fff; /* Cart icon color */
    font-size: 20px;
    margin-right: 5px;
  }
  